Dockerfile
.dockerignore
npm-debug.log
README.md
.git
.sourcebot
packages/web/.next
!packages/web/.next/static
!packages/web/.next/standalone
**/node_modules
**/.env.local
**/.sentryclirc
**/.env.sentry-build-plugin
.yarn
!.yarn/releases